In [ ]:
1.1. Write a Python script to sort (ascending and descending) a dictionary by value.

In [12]:
a={1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
b=list(a.values())
b.sort()
b
z=[]
for i in b:
    for j,k in a.items():
        if i==k:
            z.append((j,k))
print(z)
print(dict(z))

[(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]
{0: 0, 2: 1, 1: 2, 4: 3, 3: 4}

In [13]:
a={1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
b=list(a.values())
b.sort(reverse=True)
b
z=[]
for i in b:
    for j,k in a.items():
        if i==k:
            z.append((j,k))
print(z)
print(dict(z))

[(3, 4), (4, 3), (1, 2), (2, 1), (0, 0)]
{3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

In [ ]:
2. Write a Python script to add a key to a dictionary.

Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}

In [14]:
a={0: 10, 1: 20}
b=int(input())
c=int(input())
a[b]=c
a

 2
 30

{0: 10, 1: 20, 2: 30}

In [ ]:
3. Write a Python script to concatenate the following dictionaries to create a new one.

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [15]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
for i,j in dic2.items():
    dic1[i]=j
for i,j in dic3.items():
    dic1[i]=j
dic1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
4. Write a Python script to check whether a given key already exists in a dictionary.

In [17]:
students = {
    'Theodore': 19,
    'Roxanne': 22,
    'Mathew': 21,
    'Betty': 20
}
new_student=input()
flag=0
for i in students:
    if i==new_student:
        flag=1
        break
if flag:
    print("False")
else:
    print("True")

 Shetty

True

In [ ]:
5. Write a Python program to iterate over dictionaries using for loops.

In [18]:
d = {'x': 10, 'y': 20, 'z': 30} 
for i,j in d.items():
    print(str(i)+"--->"+str(j))

x--->10
y--->20
z--->30

In [ ]:
6. Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).
Sample Dictionary ( n = 5) :
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [19]:
n=int(input())
d={}
for i in range(1,n+1):
    d[i]=i*i
d

 5

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
7. Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.
Sample Dictionary
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [20]:
n=int(input())
d={}
for i in range(1,n+1):
    d[i]=i*i
d

 15

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [ ]:
8. Write a Python script to merge two Python dictionaries.

In [21]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
for i,j in d2.items():
    d1[i]=j
d1

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

In [ ]:
10. Write a Python program to sum all the items in a dictionary.

In [22]:
my_dict = {'data1': 100, 'data2': -54, 'data3': 247}
summ=0
for i in my_dict.values():
    summ=summ+i
summ

293

In [ ]:
11. Write a Python program to multiply all the items in a dictionary.

In [23]:
my_dict = {'data1': 100, 'data2': -54, 'data3': 247}
summ=1
for i in my_dict.values():
    summ=summ*i
summ

-1333800

In [ ]:
12. Write a Python program to remove a key from a dictionary.

In [26]:
myDict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
del myDict['a']
myDict

{'b': 2, 'c': 3, 'd': 4}

In [27]:
keys = ['red', 'green', 'blue']
values = ['#FF0000', '#008000', '#0000FF']
d={}
for i in range(len(keys)):
    d[keys[i]]=values[i]
d

{'red': '#FF0000', 'green': '#008000', 'blue': '#0000FF'}

In [29]:
color_dict = {
    'red': '#FF0000',
    'green': '#008000',
    'black': '#000000',
    'white': '#FFFFFF'
}
x=list(color_dict.keys())
x.sort()
for i in x:
    print(i,color_dict[i])

black #000000
green #008000
red #FF0000
white #FFFFFF

In [ ]:
15. Write a Python program to get the maximum and minimum values of a dictionary.

In [40]:
my_dict = {'x': 500, 'y': 5874, 'z': 560}
k=[]
for i in my_dict.values():
    k.append(i)
k.sort()
print(k[0])
k[-1]

500

5874

In [ ]:
16. Write a Python program to get a dictionary from an object's fields.

In [57]:
class dict_1:
    def __init__(self):
        self.x="red"
        self.y="pink"
        self.z="orange"
a=dict_1()
print(a.__dict__)

{'x': 'red', 'y': 'pink', 'z': 'orange'}

In [ ]:
7. Write a Python program to remove duplicates from the dictionary.

In [61]:
student_data = {
    'id1': {
        'name': ['Sara'],
        'class': ['V'],
        'subject_integration': ['english, math, science']
    },
    'id2': {
        'name': ['David'],
        'class': ['V'],
        'subject_integration': ['english, math, science']
    },
    'id3': {
        'name': ['Sara'],
        'class': ['V'],
        'subject_integration': ['english, math, science']
    },
    'id4': {
        'name': ['Surya'],
        'class': ['V'],
        'subject_integration': ['english, math, science']
    }
}

s={}
for i,j in student_data.items():
    if j not in s.values():
        s[i]=j
s

{'id1': {'name': ['Sara'],
  'class': ['V'],
  'subject_integration': ['english, math, science']},
 'id2': {'name': ['David'],
  'class': ['V'],
  'subject_integration': ['english, math, science']},
 'id4': {'name': ['Surya'],
  'class': ['V'],
  'subject_integration': ['english, math, science']}}

In [ ]:
18. Write a Python program to check if a dictionary is empty or not.

In [64]:
a={}
c=len(a)==0
c

True

In [ ]:
19. Write a Python program to combine two dictionary by adding values for common keys.
d1= {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

In [66]:
d1= {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
for i,j in d2.items():
    if i in d1.keys():
        d1[i]=d1[i]+d2[i]
    else:
        d1[i]=j
d1

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [ ]:
20. Write a Python program to print all distinct values in a dictionary.
Sample Data : [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
Expected Output : Unique Values: {'S005', 'S002', 'S007', 'S001', 'S009'}

In [69]:
a=[{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
k=[]
for i in a:
    for j in i.values():
        k.append(j)
set(k)

{'S001', 'S002', 'S005', 'S007', 'S009'}

In [ ]:
21. Write a Python program to create and display all combinations of letters, selecting each letter from a different key in a dictionary.
Sample data : {'1':['a','b'], '2':['c','d']}

In [76]:
a={'1':['a','b'], '2':['c','d']}
b=[]

for i in a.values():
        b.append(i)
for i in range(len(b)):
    for j in range(i+1,len(b)):
        print(b[i][j])

[['a', 'b'], ['c', 'd']]

In [ ]:
22. Write a Python program to find the highest 3 values of corresponding keys in a dictionary.

In [90]:
my_dict = {'a': 500, 'b': 5874, 'c': 560, 'd': 400, 'e': 5874, 'f': 20}
k=list(my_dict.values())
l=sorted(k)
m=l[len(l)-3:]
print(m)
k=[]
for x in m:
    for i,j in my_dict.items():
        if j==x and (i not in k):
            k.append(i)
            break
k

[560, 5874, 5874]

['c', 'b', 'e']

In [ ]:
23. Write a Python program to combine values in a list of dictionaries.
Sample data: [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
Expected Output: Counter({'item1': 1150, 'item2': 300})

In [119]:
a=[{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]

{'item1': 'item1', 400: 400, 'item2': 'item2', 300: 300, 750: 750}

In [ ]:
24. Write a Python program to create a dictionary from a string.
Note: Track the count of the letters from the string.
Sample string : 'w3resource'
Expected output: {'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

In [96]:
a='w3resource'
b=set(a)
c={}
for i in sorted(b):
    c[i]=a.count(i)
c

{'3': 1, 'c': 1, 'e': 2, 'o': 1, 'r': 2, 's': 1, 'u': 1, 'w': 1}

In [ ]:
25. Write a Python program to print a dictionary in table format.

In [113]:
a= {'C1': [1, 2, 3], 'C2': [5, 6, 7], 'C3': [9, 10, 11]}
b=list(a.keys())
print('  '.join(b))
c=list(a.values())
c
for i in range(len(c)):
    x=[]
    for j in range(len(c)):
        x.append(str(c[j][i]))
    print('   '.join(x))

C1  C2  C3
1   5   9
2   6   10
3   7   11

In [ ]:
26. Write a Python program to count the values associated with a key in a dictionary.

In [117]:
student = [{'id': 1, 'success': True, 'name': 'Lary'},
 {'id': 2, 'success': False, 'name': 'Rabi'},
 {'id': 3, 'success': True, 'name': 'Alex'}]
summ=0
for i in student:
    for j in i:
        if j=="id":
            summ+=i[j]
summ

6

In [ ]:
27. Write a Python program to convert a list into a nested dictionary of keys.

In [123]:
a = [1, 2, 3, 4]
c=b={}
for i in a:
    b[i]={}
    b=b[i]
 
c

{1: {2: {3: {4: {}}}}}

In [ ]:
28. Write a Python program to sort a list alphabetically in a dictionary.

In [129]:
num = {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}
b=list(num.values())
for i in b:
    i.sort()
b
print(b)
for i in num:
    for j in range(b):
        num[i]=j

[[1, 2, 3], [1, 2, 5], [2, 3, 4]]

{'n1': [2, 3, 4], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}

In [133]:
s={'S  001': ['Math', 'Science'], 'S    002': ['Math', 'English']}
s11=[]
m=list(s.values())
for i in s:
    k=""
    for j in i:
        if j!=" ":
            k+=j
    s11.append(k)
k={}
for i in range(len(s11)):
    k[s11[i]]=m[i]
print(k)

{'S001': ['Math', 'Science'], 'S002': ['Math', 'English']}

In [ ]:
30. Write a Python program to get the top three items in a shop.
Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
Expected Output:
item4 55
item1 45.5
item3 41.3

In [140]:
a={'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
b=list(a.keys())
c=list(a.values())
c.sort(reverse=True)
d=c[:len(c)-2]
for i in d:
    for j,k in a.items():
        if i==k:
            print(j,k)

item4 55
item1 45.5
item3 41.3

In [ ]:
31. Write a Python program to get the key, value and item in a dictionary.

In [150]:
dict_num = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
k=1
print("Keys "+" Values"+" count")
for i,j in dict_num.items():
    print(str(i)+"     "+str(j)+"       "+str(k))
    k+=1

Keys  Values count
1     10       1
2     20       2
3     30       3
4     40       4
5     50       5
6     60       6

In [154]:
a={"a":1,"b":2}
k=list(a.keys())
m=list(a.values())
c={}
for i,j in zip(k,m):
    c[j]=i
c

{1: 'a', 2: 'b'}

In [2]:
a=list((1,2,3))
a

[1, 2, 3]

In [ ]:
33. Write a Python program to check if multiple keys exist in a dictionary.

In [131]:
student = {
  'name': 'Alex',
  'class': 'V',
  'roll_id': '2'
}
b=list(student.keys())
a={'name', 'Alex'}
a11=list(sorted(a))
flag=0
for i in a11:
     if i  not in student.keys():
         flag=1
         break
if falg==1:
    print("False")
else:
    print("True")

False

In [ ]:
34. Write a Python program to count the number of items in a dictionary value that is a list.

In [118]:
d=  {'Alex': ['subj1', 'subj2', 'subj3'], 'David': ['subj1', 'subj2']}
a=list(d.values())
count=0
for i in a:
    for j in i:
        count+=1
count

5

In [ ]:
35. Write a Python program to sort Counter by value.
Sample data : {'Math':81, 'Physics':83, 'Chemistry':87}
Expected data: [('Chemistry', 87), ('Physics', 83), ('Math', 81)]

In [116]:
a={'Math':81, 'Physics':83, 'Chemistry':87}
b=[]
c=list(a.values())
c.sort(reverse=True)
for k in c:
    for i,j in a.items():
        if k==j:
            b.append((i,j))
b

[('Chemistry', 87), ('Physics', 83), ('Math', 81)]

In [113]:
a=['Class-V', 'Class-VI', 'Class-VII', 'Class-VIII']
b=[1, 2, 2, 3]
c={}
for i,j in zip(a,b):
    c[i]={j}
d=[]

c

{'Class-V': {1}, 'Class-VI': {2}, 'Class-VII': {2}, 'Class-VIII': {3}}

In [100]:
x = {'key1': 1, 'key2': 3, 'key3': 2}
y = {'key1': 1, 'key2': 2}
for i,j in x.items():
    for a,b in y.items():
        if i==a and j==b:
            print("{}:{} is in  both x and y".format(i,j))

key1:1 is in  both x and y

In [ ]:
40. Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.
{'x': [11, 12, 13, 14, 15, 16, 17, 18, 19],
'y': [21, 22, 23, 24, 25, 26, 27, 28, 29],
'z': [31, 32, 33, 34, 35, 36, 37, 38, 39]}
15
25
35

In [99]:
a={'x': [11, 12, 13, 14, 15, 16, 17, 18, 19],
'y': [21, 22, 23, 24, 25, 26, 27, 28, 29],
'z': [31, 32, 33, 34, 35, 36, 37, 38, 39]}
b=list(a.values())
for i in b:
    print(i[4])

15
25
35

In [ ]:
41. Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [98]:
a={'c1': 'Red', 'c2': 'Green', 'c3': None}
b={}
for i,j in a.items():
    if j!= None:
        b[i]=j
b

{'c1': 'Red', 'c2': 'Green'}

In [ ]:
42. Write a Python program to filter a dictionary based on values.
Original Dictionary:
{'Cierra Vega': 175, 'Alden Cantrell': 180, 'Kierra Gentry': 165, 'Pierre Cox': 190}
Marks greater than 170:
{'Cierra Vega': 175, 'Alden Cantrell': 180, 'Pierre Cox': 190}

In [96]:
a={'Cierra Vega': 175, 'Alden Cantrell': 180, 'Kierra Gentry': 165, 'Pierre Cox': 190}
b={}
for i,j in a.items():
    if j>170:
        b[i]=j
b

{'Cierra Vega': 175, 'Alden Cantrell': 180, 'Pierre Cox': 190}

In [ ]:
43. Write a Python program to convert more than one list to a nested dictionary.
Original strings:
['S001', 'S002', 'S003', 'S004']
['Adina Park', 'Leyton Marsh', 'Duncan Boyle', 'Saim Richards']
[85, 98, 89, 92]
Nested dictionary:
[{'S001': {'Adina Park': 85}}, {'S002': {'Leyton Marsh': 98}}, {'S003': {'Duncan Boyle': 89}}, {'S004': {'Saim Richards': 92}}]

In [95]:
a=['S001', 'S002', 'S003', 'S004']
b=['Adina Park', 'Leyton Marsh', 'Duncan Boyle', 'Saim Richards']
c=[85, 98, 89, 92]

[{'Adina Park': 85,
  'Leyton Marsh': 98,
  'Duncan Boyle': 89,
  'Saim Richards': 92},
 {'Adina Park': 85,
  'Leyton Marsh': 98,
  'Duncan Boyle': 89,
  'Saim Richards': 92},
 {'Adina Park': 85,
  'Leyton Marsh': 98,
  'Duncan Boyle': 89,
  'Saim Richards': 92},
 {'Adina Park': 85,
  'Leyton Marsh': 98,
  'Duncan Boyle': 89,
  'Saim Richards': 92}]

In [ ]:
44. Write a Python program to filter the height and width of students, which are stored in a dictionary.
Original Dictionary:
{'Cierra Vega': (6.2, 70), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
Height > 6ft and Weight> 70kg:
{'Cierra Vega': (6.2, 70)}

In [83]:
a={'Cierra Vega': (6.2, 70), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
b=list(a.keys())
c=list(a.values())
k=[]
for i in c:
    if i[0]>6.0 and i[1]>=70:
        k.append((i[0],i[1]))

u={}
for i in k:
    for x,y in a.items():
        if i==y:
            u[x]=y
u

{'Cierra Vega': (6.2, 70)}

In [ ]:
45. Write a Python program to verify that all values in a dictionary are the same.
Original Dictionary:
{'Cierra Vega': 12, 'Alden Cantrell': 12, 'Kierra Gentry': 12, 'Pierre Cox': 12}
Check all are 12 in the dictionary.
True
Check all are 10 in the dictionary.
False

In [77]:
a={'Cierra Vega': 12, 'Alden Cantrell': 12, 'Kierra Gentry': 12, 'Pierre Cox': 12}
b=int(input())
flag=0
for i in a.values():
    if i!=b:
        flag=1
        break
if flag:
    print("False")
else:
    print("True")

 10

False

In [ ]:
46. Write a Python program to create a dictionary grouping a sequence of key-value pairs into a dictionary of lists.
Original list:
[('yellow', 1), ('blue', 2), ('yellow', 3), ('blue', 4), ('red', 1)]
Grouping a sequence of key-value pairs into a dictionary of lists:
{'yellow': [1, 3], 'blue': [2, 4], 'red': [1]}

In [75]:
a=[('yellow', 1), ('blue', 2), ('yellow', 3), ('blue', 4), ('red', 1)]
b={}
for i in a:
    k=[]
    if i[0] not in b:
        b[i]=i[1]
    else:

yellow
blue
yellow
blue
red

In [ ]:
47. Write a Python program to split a given dictionary of lists into lists of dictionaries.
Original dictionary of lists:
{'Science': [88, 89, 62, 95], 'Language': [77, 78, 84, 80]}
Split said dictionary of lists into list of dictionaries:
[{'Science': 88, 'Language': 77}, {'Science': 89, 'Language': 78}, {'Science': 62, 'Language': 84}, {'Science': 95, 'Language': 80}]

In [ ]:
a={'Science': [88, 89, 62, 95], 'Language': [77, 78, 84, 80]}
b=[]
c=list(a.keys())
d=list(a.values())

In [ ]:
48. Write a Python program to remove a specified dictionary from a given list.
Original list of dictionary:
[{'id': '#FF0000', 'color': 'Red'}, {'id': '#800000', 'color': 'Maroon'}, {'id': '#FFFF00', 'color': 'Yellow'}, {'id': '#808000', 'color': 'Olive'}]
Remove id #FF0000 from the said list of dictionary:
[{'id': '#800000', 'color': 'Maroon'}, {'id': '#FFFF00', 'color': 'Yellow'}, {'id': '#808000', 'color': 'Olive'}]

In [72]:
a=[{'id': '#FF0000', 'color': 'Red'}, {'id': '#800000', 'color': 'Maroon'}, {'id': '#FFFF00', 'color': 'Yellow'}, 
   {'id': '#808000', 'color': 'Olive'}]
for i in a:
    for j in i:
        if i[j] is "#FF0000":
            del i
a

<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Venkatesh\AppData\Local\Temp\ipykernel_9020\4186833839.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if i[j] is "#FF0000":

[{'id': '#FF0000', 'color': 'Red'},
 {'id': '#800000', 'color': 'Maroon'},
 {'id': '#FFFF00', 'color': 'Yellow'},
 {'id': '#808000', 'color': 'Olive'}]

In [ ]:
49. Write a Python program to convert string values of a given dictionary into integer/float datatypes.
Original list:
[{'x': '10', 'y': '20', 'z': '30'}, {'p': '40', 'q': '50', 'r': '60'}]
String values of a given dictionary, into integer types:
[{'x': 10, 'y': 20, 'z': 30}, {'p': 40, 'q': 50, 'r': 60}]
Original list:
[{'x': '10.12', 'y': '20.23', 'z': '30'}, {'p': '40.00', 'q': '50.19', 'r': '60.99'}]
String values of a given dictionary, into float types:
[{'x': 10.12, 'y': 20.23, 'z': 30.0}, {'p': 40.0, 'q': 50.19, 'r': 60.99}]

In [61]:
a=[{'x': '10', 'y': '20', 'z': '30'}, {'p': '40', 'q': '50', 'r': '60'}]
for i in a:
    for j in i:
        i[j]=int(i[j])
a

[{'x': 10, 'y': 20, 'z': 30}, {'p': 40, 'q': 50, 'r': 60}]

In [ ]:
50. A Python dictionary contains List as a value. Write a Python program to clear the list values in the said dictionary.
Original Dictionary:
{'C1': [10, 20, 30], 'C2': [20, 30, 40], 'C3': [12, 34]}
Clear the list values in the said dictionary:
{'C1': [], 'C2': [], 'C3': []}

In [60]:
a={'C1': [10, 20, 30], 'C2': [20, 30, 40], 'C3': [12, 34]}
b=list(a.keys())
c=list(a.values())
d=[]
x={}
for i in c:
    d.append(i[:0])
for i,j in zip(b,d):
    x[i]=j
x

{'C1': [], 'C2': [], 'C3': []}

In [ ]:
51. A Python Dictionary contains List as a value. Write a Python program to update the list values in the said dictionary.
Original Dictionary:
{'Math': [88, 89, 90], 'Physics': [92, 94, 89], 'Chemistry': [90, 87, 93]}
Update the list values of the said dictionary:
{'Math': [89, 90, 91], 'Physics': [90, 92, 87], 'Chemistry': [90, 87, 93]}

In [57]:
a={'Math': [88, 89, 90], 'Physics': [92, 94, 89], 'Chemistry': [90, 87, 93]}
b=list(a.values())
c=[]
for i in range(len(b)):
    if i==0:
        x=[]
        for j in b[i]:
            x.append(j+1)
        c.append(x)
    elif i==1:
        if i==1:
            x=[]
            for j in b[i]:
                x.append(j-2)
            c.append(x)
    else:
        c.append(b[i])
d=list(a.keys())
q={}
for i,j in zip(d,c):
    q[i]=j
q

{'Math': [89, 90, 91], 'Physics': [90, 92, 87], 'Chemistry': [90, 87, 93]}

In [ ]:
52. Write a Python program to extract a list of values from a given list of dictionaries.
Original Dictionary:
[{'Math': 90, 'Science': 92}, {'Math': 89, 'Science': 94}, {'Math': 92, 'Science': 88}]
Extract a list of values from said list of dictionaries where subject = Science
[92, 94, 88]

In [52]:
a=[{'Math': 90, 'Science': 92}, {'Math': 89, 'Science': 94}, {'Math': 92, 'Science': 88}]
b=[]
for i in a:
    for j in i:
        if j=="Science":
            b.append(i[j])
b

[92, 94, 88]

In [49]:
a={1: 'red', 2: 'green', 3: 'black', 4: 'white', 5: 'black'}
b={}
c=list(a.values())
for i in c:
    b[i]=len(i)
b

{'red': 3, 'green': 5, 'black': 5, 'white': 5}

In [ ]:
54.Write a Python program to get the depth of a dictionary.

In [48]:
a={'a': 1, 'b': {'c': {'d': {}}}}
b=str(a)
count=0
for i in b:
    if i=="{":
        count+=1
count

4

In [ ]:
55. Write a Python program to access dictionary key's element by index.

In [45]:
num = {'physics': 80, 'math': 90, 'chemistry': 86}
for i in range(len(num)):
    print(list(num[i]))

KeyError: 0

In [ ]:
56. Write a Python program to convert a dictionary into a list of lists.
Original Dictionary:
{1: 'red', 2: 'green', 3: 'black', 4: 'white', 5: 'black'}
Convert the said dictionary into a list of lists:
[[1, 'red'], [2, 'green'], [3, 'black'], [4, 'white'], [5, 'black']]
Original Dictionary:
{'1': 'Austin Little', '2': 'Natasha Howard', '3': 'Alfred Mullins', '4': 'Jamie Rowe'}
Convert the said dictionary into a list of lists:
[['1', 'Austin Little'], ['2', 'Natasha Howard'], ['3', 'Alfred Mullins'], ['4', 'Jamie Rowe']]

In [39]:
a={1: 'red', 2: 'green', 3: 'black', 4: 'white', 5: 'black'}
b=[]
for i,j in a.items():
    b.append([i,j])
b

[[1, 'red'], [2, 'green'], [3, 'black'], [4, 'white'], [5, 'black']]

In [ ]:
57. Write a Python program to filter even numbers from a dictionary of values.
Original Dictionary:
{'V': [1, 4, 6, 10], 'VI': [1, 4, 12], 'VII': [1, 3, 8]}
Filter even numbers from said dictionary values:
{'V': [4, 6, 10], 'VI': [4, 12], 'VII': [8]}
Original Dictionary:
{'V': [1, 3, 5], 'VI': [1, 5], 'VII': [2, 7, 9]}
Filter even numbers from said dictionary values:
{'V': [], 'VI': [], 'VII': [2]}

In [38]:
a={'V': [1, 3, 5], 'VI': [1, 5], 'VII': [2, 7, 9]}
b=list(a.values())
c=[]
for i in b:
    d=[]
    for j in i :
        if j%2==0:
            d.append(j)
    c.append(d)

x=list(a.keys())
q={}
for i,j in zip(x,c):
    q[i]=j
q

{'V': [], 'VI': [], 'VII': [2]}

In [ ]:
59. Write a Python program to find the specified number of maximum values in a given dictionary.
Original Dictionary:
{'a': 5, 'b': 14, 'c': 32, 'd': 35, 'e': 24, 'f': 100, 'g': 57, 'h': 8, 'i': 100}
1 maximum value(s) in the said dictionary:
['f']
2 maximum value(s) in the said dictionary:
['f', 'i']
5 maximum value(s) in the said dictionary:
['f', 'i', 'g', 'd', 'c']

In [26]:
a={'a': 5, 'b': 14, 'c': 32, 'd': 35, 'e': 24, 'f': 100, 'g': 57, 'h': 8, 'i': 100}
b=int(input())
c=list(a.values())
c.sort(reverse=True)
d=c[:b]
print(d)
x=[]
y=[]
for k in d:
    for i,j in (a.items()):
      if k==j and (i not in y):
          y.append(i)
y

 5

[100, 100, 57, 35, 32]

['f', 'i', 'g', 'd', 'c']

In [ ]:
60. Write a Python program to find the shortest list of values for the keys in a given dictionary.
Original Dictionary: 
{'V': [10, 12], 'VI': [10], 'VII': [10, 20, 30, 40], 
 'VIII': [20], 'IX': [10, 30, 50, 70], 'X': [80]}

In [15]:
a={'V': [10, 12], 'VI': [10], 'VII': [10, 20, 30, 40], 
 'VIII': [200], 'IX': [10, 30, 50, 70], 'X': [800]} 
b=list(a.values())
c=[]
for i in b:
    c+=[len(i)]
k=min(c)
for i,j in a.items():
    if len(j)==k:
        print(i)

VI
VIII
X

In [ ]:
61. Write a Python program to count the frequency of a dictionary.
Original Dictionary:
{'V': 10, 'VI': 10, 'VII': 40, 'VIII': 20, 'IX': 70, 'X': 80, 'XI': 40, 'XII': 20}
Count the frequency of the said dictionary:
Counter({10: 2, 40: 2, 20: 2, 70: 1, 80: 1})

In [4]:
a={'V': 10, 'VI': 10, 'VII': 40, 'VIII': 20, 'IX': 70, 'X': 80, 'XI': 40, 'XII': 20}
b=list(a.values())
c={}
for i in b:
    if i not in c:
        c[i]=1
    else:
        c[i]+=1
c

{10: 2, 40: 2, 20: 2, 70: 1, 80: 1}

In [ ]:
62. Write a Python program to extract values from a given dictionary and create a list of lists from those values.
Original Dictionary:
[{'student_id': 1, 'name': 'Jean Castro', 'class': 'V'}, {'student_id': 2, 'name': 'Lula Powell', 'class': 'V'}, {'student_id': 3, 'name': 'Brian Howell', 'class': 'VI'}, {'student_id': 4, 'name': 'Lynne Foster', 'class': 'VI'}, {'student_id': 5, 'name': 'Zachary Simon', 'class': 'VII'}]
Extract values from the said dictionarie and create a list of lists using those values:
[[1, 'Jean Castro', 'V'], [2, 'Lula Powell', 'V'], [3, 'Brian Howell', 'VI'], [4, 'Lynne Foster', 'VI'], [5, 'Zachary Simon', 'VII']]
[[1, 'Jean Castro'], [2, 'Lula Powell'], [3, 'Brian Howell'], [4, 'Lynne Foster'], [5, 'Zachary Simon']]
[['Jean Castro', 'V'], ['Lula Powell', 'V'], ['Brian Howell', 'VI'], ['Lynne Foster', 'VI'], ['Zachary Simon', 'VII']]
Click me to see the sample solution

In [44]:
a=[]
b=[{'student_id': 1, 'name': 'Jean Castro', 'class': 'V'}, {'student_id': 2, 'name': 'Lula Powell', 'class': 'V'},
   {'student_id': 3, 'name': 'Brian Howell', 'class': 'VI'},
   {'student_id': 4, 'name': 'Lynne Foster', 'class': 'VI'}, {'student_id': 5, 'name': 'Zachary Simon', 'class': 'VII'}]

for i in b:
    x=[]
    for j in i.values():
        x.append(j)
    a.append(x)
a

[[1, 'Jean Castro', 'V'],
 [2, 'Lula Powell', 'V'],
 [3, 'Brian Howell', 'VI'],
 [4, 'Lynne Foster', 'VI'],
 [5, 'Zachary Simon', 'VII']]

In [ ]:
63. Write a Python program to convert a given list of lists to a dictionary.
Original list of lists:
[[1, 'Jean Castro', 'V'], [2, 'Lula Powell', 'V'], [3, 'Brian Howell', 'VI'], [4, 'Lynne Foster', 'VI'], [5, 'Zachary Simon', 'VII']]
Convert the said list of lists to a dictionary:
{1: ['Jean Castro', 'V'], 2: ['Lula Powell', 'V'], 3: ['Brian Howell', 'VI'], 4: ['Lynne Foster', 'VI'], 5: ['Zachary Simon', 'VII']}

In [41]:
a=[[1, 'Jean Castro', 'V'], [2, 'Lula Powell', 'V'], [3, 'Brian Howell', 'VI'], [4, 'Lynne Foster', 'VI'], [5, 'Zachary Simon', 'VII']]
b={}
for i in a:
    b[i[0]]=i[1:]
b

{1: ['Jean Castro', 'V'],
 2: ['Lula Powell', 'V'],
 3: ['Brian Howell', 'VI'],
 4: ['Lynne Foster', 'VI'],
 5: ['Zachary Simon', 'VII']}

In [ ]:
64. Write a Python program that creates key-value list pairings within a dictionary.
Original dictionary:
{1: ['Jean Castro'], 2: ['Lula Powell'], 3: ['Brian Howell'], 4: ['Lynne Foster'], 5: ['Zachary Simon']}
A key-value list pairings of the said dictionary:
[{1: 'Jean Castro', 2: 'Lula Powell', 3: 'Brian Howell', 4: 'Lynne Foster', 5: 'Zachary Simon'}]

In [2]:
a={1: ['Jean Castro'], 2: ['Lula Powell'], 3: ['Brian Howell'], 4: ['Lynne Foster'], 5: ['Zachary Simon']}
b=[]
for i,j in a.items():
    b.append((i,j[0]))
b
c=[dict(b)]
c

[{1: 'Jean Castro',
  2: 'Lula Powell',
  3: 'Brian Howell',
  4: 'Lynne Foster',
  5: 'Zachary Simon'}]

In [ ]:
65. Write a Python program to get the total length of all values in a given dictionary with string values.
Original dictionary:
{'#FF0000': 'Red', '#800000': 'Maroon', '#FFFF00': 'Yellow', '#808000': 'Olive'}
Total length of all values of the said dictionary with string values:
20

In [32]:
a={'#FF0000': 'Red', '#800000': 'Maroon', '#FFFF00': 'Yellow', '#808000': 'Olive'}
b=list(a.values())
summ=0
for i in b:
    summ+=len(i)
summ

20

In [ ]:
66. Write a Python program to check if a specific key and a value exist in a dictionary.
Original dictionary:
[{'student_id': 1, 'name': 'Jean Castro', 'class': 'V'}, {'student_id': 2, 'name': 'Lula Powell', 'class': 'V'}, {'student_id': 3, 'name': 'Brian Howell', 'class': 'VI'}, {'student_id': 4, 'name': 'Lynne Foster', 'class': 'VI'}, {'student_id': 5, 'name': 'Zachary Simon', 'class': 'VII'}]
Check if a specific Key and a value exist in the said dictionary:
True
True
True
False
False

In [31]:
a=[{'student_id': 1, 'name': 'Jean Castro', 'class': 'V'}, {'student_id': 2, 'name': 'Lula Powell', 'class': 'V'}, {'student_id': 3, 'name': 'Brian Howell', 'class': 'VI'}, {'student_id': 4, 'name': 'Lynne Foster', 'class': 'VI'},
   {'student_id': 5, 'name': 'Zachary Simon', 'class': 'VII'}]
b='student_id'
c=11
flag=0
for i in a:
    for j,k in i.items():
        if j==b and k==c:
            flag=1
            break

if flag==0:
    print("False")
else:
    print("True")

False

In [ ]:
67. Write a Python program to invert a given dictionary with non-unique hashable values.
Sample Output:
{8: ['Ora Mckinney', 'Mathew Gilbert'], 7: ['Theodore Hollandl', 'Mae Fleming', 'Ivan Little']}

In [29]:
students = {
  'Ora Mckinney': 8,
  'Theodore Hollandl': 7,
  'Mae Fleming': 7,
  'Mathew Gilbert': 8,
  'Ivan Little': 7,
}
a=list(students.keys())
b=list(students.values())
c=sorted(set(b))
x={}
d=[]
for i in c:
    e=[]
    for j,k in students.items():
        if i==k:
            e.append(j)
    d.append(e)
for i,j in zip(c,d):
    x[i]=j
x

{7: ['Theodore Hollandl', 'Mae Fleming', 'Ivan Little'],
 8: ['Ora Mckinney', 'Mathew Gilbert']}

In [ ]:
68. Write a Python program to combine two or more dictionaries, creating a list of values for each key.
Sample Output:
Original dictionaries:
{'w': 50, 'x': 100, 'y': 'Green', 'z': 400}
{'x': 300, 'y': 'Red', 'z': 600}
Combined dictionaries, creating a list of values for each key:
{'w': [50], 'x': [100, 300], 'y': ['Green', 'Red'], 'z': [400, 600]}

In [26]:
a={'w': 50, 'x': 100, 'y': 'Green', 'z': 400}
b={'x': 300, 'y': 'Red', 'z': 600}
c={}
for i,j in a.items():
    c[i]=[j]
for i,k in c.items():
    for j in b.keys():
        if i==j:
            c[i].append(b[j])
c

{'w': [50], 'x': [100, 300], 'y': ['Green', 'Red'], 'z': [400, 600]}

In [ ]:
69. Write a Python program to group the elements of a given list based on the given function.
Sample Output:
Original list & function:
[7, 23, 3.2, 3.3, 8.4] Function name: floor:
Group the elements of the said list based on the given function:
{7: [7], 23: [23], 3: [3.2, 3.3], 8: [8.4]}
Original list & function:
['Red', 'Green', 'Black', 'White', 'Pink'] Function name: len:
Group the elements of the said list based on the given function:
{3: ['Red'], 5: ['Green', 'Black', 'White'], 4: ['Pink']}

In [24]:
import math
a=[7, 23, 3.2, 3.3, 8.4]
b=input()
if b=="floor":
    c=a
    d=[]
    for i in c:
        d.append(math.floor(i))
    print(d)
    e=[]
    for i in range(len(d)):
        x=[]
        for j in range(len(a)):
            if a[j]>=d[i] and a[j]<d[i]+1:
                x.append(a[j])
        e.append(x)
    print(e)

 floor

[7, 23, 3, 3, 8]
[[7], [23], [3.2, 3.3], [3.2, 3.3], [8.4]]

In [ ]:
70. Write a Python program to map the values of a given list to a dictionary using a function, where the key-value pairs consist of the original value as the key and the result of the function as the value.
Sample Output:
{1: 1, 2: 4, 3: 9, 4: 16}

In [18]:
a=[1,2,3,4]
b=[]
for i in a:
    b.append(i*i)
b
c={}
for i,j in zip(a,b):
    c[i]=j
c

{1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
71. Write a Python program to retrieve the value of the nested key indicated by the given selector list from a dictionary or list.
Sample Output:
Russell

In [16]:
users = {
    'Carla ': {
        'name': {
            'first': 'Carla ',
            'last': 'Russell'
        },
        'postIds': [1, 2, 3, 4, 5]
    }
}
a=['Carla ', 'name', 'last']

TypeError: list indices must be integers or slices, not str

In [ ]:
72. Write a Python program to invert a dictionary with unique hashable values.
Sample Output:
{10: 'Theodore', 11: 'Mathew', 9: 'Roxanne'}

In [14]:
students = {
    'Theodore': 10,
    'Mathew': 11,
    'Roxanne': 9,
}
b=list(students.keys())
c=list(students.values())
d={}
for i,j in zip(b,c):
    d[j]=i
print(d)
x={j:i for i,j in students.items() }
print(x)

{10: 'Theodore', 11: 'Mathew', 9: 'Roxanne'}
{10: 'Theodore', 11: 'Mathew', 9: 'Roxanne'}

In [ ]:
73. Write a Python program to convert a list of dictionaries into a list of values corresponding to the specified key.
Sample Output:
Original list of dictionaries:
[{'name': 'Theodore', 'age': 18}, {'name': 'Mathew', 'age': 22}, {'name': 'Roxanne', 'age': 20}, {'name': 'David', 'age': 18}]
Convert a list of dictionaries into a list of values corresponding to the specified key:
[18, 22, 20, 18]

In [11]:
a=[{'name': 'Theodore', 'age': 18}, {'name': 'Mathew', 'age': 22}, {'name': 'Roxanne', 'age': 20}, {'name': 'David', 'age': 18}]
b=[]
for i in a:
    for j in i:
        if type(i[j]) is int:
            b.append(i[j])
b

[18, 22, 20, 18]

In [ ]:
75. Write a Python program to find all keys in a dictionary that have the given value.
Sample Output:
Original dictionary elements:
{'Theodore': 19, 'Roxanne': 20, 'Mathew': 21, 'Betty': 20}
Find all keys in the said dictionary that have the specified value:
['Roxanne', 'Betty']

In [10]:
a={'Theodore': 19, 'Roxanne': 20, 'Mathew': 21, 'Betty': 20}
b=20
c=[]
for i,j in a.items():
    if j==b:
        c.append(i)
c

['Roxanne', 'Betty']

In [ ]:
76. Write a Python program to combine two lists into a dictionary. The elements of the first one serve as keys and the elements of the second one serve as values. Each item in the first list must be unique and hashable.
Sample Output:
Original lists:
['a', 'b', 'c', 'd', 'e', 'f']
[1, 2, 3, 4, 5]
Combine the values of the said two lists into a dictionary:
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [9]:
a=['a', 'b', 'c', 'd', 'e', 'f']
b=[1, 2, 3, 4, 5]
c={}
for i,j in zip(a,b):
    c[i]=j
c

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
77. Write a Python program to transform a dictionary into a list of tuples.
Sample Output:
Original Dictionary:
{'Red': 1, 'Green': 3, 'White': 5, 'Black': 2, 'Pink': 4}
Convert the said dictionary to a list of tuples:
[('Red', 1), ('Green', 3), ('White', 5), ('Black', 2), ('Pink', 4)]

In [7]:
a={'Red': 1, 'Green': 3, 'White': 5, 'Black': 2, 'Pink': 4}
b=[]
for i,j in a.items():
    b.append((i,j))
b

[('Red', 1), ('Green', 3), ('White', 5), ('Black', 2), ('Pink', 4)]

In [ ]:
78. Write a Python program to create a flat list of all the keys in a flat dictionary.
Sample Output:
Original dictionary elements:
{'Theodore': 19, 'Roxanne': 20, 'Mathew': 21, 'Betty': 20}
Create a flat list of all the keys of the said flat dictionary:
['Theodore', 'Roxanne', 'Mathew', 'Betty']

In [5]:
a={'Theodore': 19, 'Roxanne': 20, 'Mathew': 21, 'Betty': 20}
b=list(a.keys())
c=list(a.values())
b

['Theodore', 'Roxanne', 'Mathew', 'Betty']

In [ ]:
79. Write a Python program to create a flat list of all the values in a flat dictionary.
Sample Output:
Original dictionary elements:
{'Theodore': 19, 'Roxanne': 20, 'Mathew': 21, 'Betty': 20}
Create a flat list of all the values of the said flat dictionary:
[19, 20, 21, 20]

In [4]:
a={'Theodore': 19, 'Roxanne': 20, 'Mathew': 21, 'Betty': 20}
b=list(a.keys())
c=list(a.values())
c

[19, 22, 21, 20]

In [ ]:
80. Write a Python program to find the key of the maximum value in a dictionary.
Sample Output:
Original dictionary elements:
{'Theodore': 19, 'Roxanne': 22, 'Mathew': 21, 'Betty': 20}
Finds the key of the maximum and minimum value of the said dictionary:
('Roxanne', 'Theodore')

In [3]:
a={'Theodore': 19, 'Roxanne': 22, 'Mathew': 21, 'Betty': 20}
b=list(a.keys())
c=list(a.values())
c1=sorted(c)
d=c1[0]
e=c1[-1]
for i,j in a.items():
    if j==d or j==e:
        print(i)

Theodore
Roxanne